body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

header {
	background-color: #FF4136;
	color: #FFFFFF;
	padding: 20px;
}

header h1 {
	margin: 0;
}

main {
	padding: 20px;
}

ul {
	list-style: disc;
	margin-left: 20px;
}

li {
	margin-bottom: 10px;
}

button {
	background-color: #0074D9;
	color: #FFFFFF;
	border: none;
	padding: 10px 20px;
	margin-top: 20px;
	cursor: pointer;
}

button a {
	color: #FFFFFF;
	text-decoration: none;
}

button:hover {
	background-color: #39CCCC;
}
